################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMSP/LW1/obj/Debug
/CMSP/LW1/Properties
